DB_HOST=localhost
DB_PORT=3307
DB_NAME=project_si_db
DB_USER=project_user
DB_PASSWORD=project_pass
DB_ROOT_PASSWORD=root_pass
JWT_SECRET=ZmFrZS1kZXYtc2VjcmV0LWZvci10cDUuMS1yZXBsYWNlLW1lLXdpdGgtYS1yZWFsLWJhc2U2NC1rZXktYXQtbGVhc3QtMjU2LWJpdHM=
JWT_EXPIRATION_MS=3600000
